{% extends "base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %} About {% endblock %}</title>
</head>

    <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="80" >
        
        <!-- start about -->
        <section class="section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 ms-auto align-self-center">
                        <h5 class="fs-24 text-dark fw-medium mb-3"><mark>Personal Details</mark></h5>       
                        <h4 class="fw-normal lh-base text-gray-700 mb-4 fs-20" style="text-align: justify;">Experienced and highly skilled as a Full-Stack Software
                                            Engineer with 5 years of expertise in developing robust
                                            back-end solutions
                                            using Laravel, Django, Node.js & front-end solutions using Vue.js, Bootstrap and seeking challenging opportunities to
                                            contribute my technical proﬁciency and leadership skills
                                            in a dynamic and innovative software development
                                            environment.
                        </h4>
                        
                        <div class="mb-5 mb-lg-0">
                            <p class="mb-2">
                                <span class="personal-detail-title">Contact Number</span> 
                                <span class="personal-detail-info"> +880-1688-496756</span>
                            </p>
                            <p class="mb-2">
                                <span class="personal-detail-title">Email</span> 
                                <span class="personal-detail-info"> saqlaincse@gmail.com</span>
                            </p>
                            <p class="mb-2">
                                <span class="personal-detail-title">Address</span> 
                                <span class="personal-detail-info"> Middle Badda, Dhaka-1212</span>
                            </p>
                            <p class="mb-2">
                                <span class="personal-detail-title">Date of Birth</span> 
                                <span class="personal-detail-info"> January 1997</span>
                            </p>
                            <p class="mb-2">
                                <span class="personal-detail-title">Spoken Languages</span> 
                                <span class="personal-detail-info">English - Bengali</span>
                            </p>
                            <p class="mb-2">
                                <span class="personal-detail-title">Nationality</span> 
                                <span class="personal-detail-info">Bangladeshi</span>
                            </p>
                            <p class="mb-2">
                                <span class="personal-detail-title">Interest</span> 
                                <span class="personal-detail-info">Music, Travel, Sports</span>
                            </p>
                        </div>
                        <div class="social mt-5">
                            <a href="https://github.com/SaqlainCSE" target="_blank">
                                <i class="lab la-github github me-1"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/saqlain-cse/" target="_blank">
                                <i class="lab la-linkedin-in linkedin me-1"></i>
                            </a>
                            <a href="https://www.instagram.com/saqlain_mustak56/?igsh=bjZxZ216a2FhbDBn#" target="_blank">
                                <i class="lab la-instagram instagram me-1"></i>
                            </a>
                        </div>
                    </div><!--end col-->
                                    
                    <div class="col-lg-5 align-self-center">
                        <img src="{% static 'images/personal/2.png' %}" alt="" class="img-fluid ml-lg-5">
                    </div><!--end col--> 
                    
                    <div class="col-12 mt-5">
                        <div class="d-flex flex-wrap justify-content-center  mt-4 mt-md-5">
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/laravel.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">Laravel</h6>
                                        <p class="text-muted mb-0 fs-12">5 Year Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/django.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">Django</h6>
                                        <p class="text-muted mb-0 fs-12">2 Year Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/php.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">PHP</h6>
                                        <p class="text-muted mb-0 fs-12">5 Year Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/python.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">Python</h6>
                                        <p class="text-muted mb-0 fs-12">4 Year Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/bootstrap.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">Bootstrap</h6>
                                        <p class="text-muted mb-0 fs-12">5 Year Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/vue.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">Vue JS</h6>
                                        <p class="text-muted mb-0 fs-12">3 Year Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/nodejs-icon.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">Node.js</h6>
                                        <p class="text-muted mb-0 fs-12">2 Year Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/mongodb.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">Mongodb</h6>
                                        <p class="text-muted mb-0 fs-12">2 Year Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/mysql.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">MySQL</h6>
                                        <p class="text-muted mb-0 fs-12">5 Year Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/pg.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">PostgreSQL</h6>
                                        <p class="text-muted mb-0 fs-12">2 Year Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/aws.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">AWS</h6>
                                        <p class="text-muted mb-0 fs-12">10 Months Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/git.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">git</h6>
                                        <p class="text-muted mb-0 fs-12">5 Year Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                                <div class="d-flex align-items-center">
                                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                        <img src="{% static "images/logos/linux.svg" %}" alt="" class="" height="34">
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-medium text-gray-700">Linux</h6>
                                        <p class="text-muted mb-0 fs-12">2 Year Experience</p>
                                    </div>
                                </div>                           
                            </div><!--/div-->
                        </div><!-- End div -->
                    </div><!-- End Col -->
                </div><!--end row--> 
            </div><!-- end container -->
        </section>
        <!-- end about -->

        <div class="position-relative">
            <div class="shape overflow-hidden bg-footer">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>

    </body>
</html>

{% endblock %}
