{% extends "base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% block title %} Services {% endblock %}</title>
</head>

    <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="80" >

        
        <!-- start services -->
        <section class="section bg-gradient-light-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card rounded shadow border-0">
                            <div class="card-body p-4 m-2">
                                <div class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
                                    <i data-feather="code" class="align-self-center svg-orange icon-md"></i>  
                                </div>
                                <h5 class="text-dark fs-22 fw-medium my-4">Software Development</h5>
                                <p class="text-muted pb-4">Building custom software solutions to solve complex business problems efficiently and reliably.</p>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card rounded shadow  border-0">
                            <div class="card-body p-4 m-2">
                                <div class="bg-soft-alt-info d-flex justify-content-center align-items-center thumb-xl  rounded">
                                    <i data-feather="layout" class="align-self-center svg-info icon-md"></i>  
                                </div>
                                <h5 class="text-dark fs-22 fw-medium my-4">Web Development</h5>
                                <p class="text-muted pb-4">Creating responsive, modern, and user-friendly websites that engage visitors and drive results.</p>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card rounded shadow  border-0">
                            <div class="card-body p-4 m-2">
                                <div class="bg-soft-alt-success d-flex justify-content-center align-items-center thumb-xl  rounded">
                                    <i data-feather="shopping-cart" class="align-self-center svg-success icon-md"></i>  
                                </div>
                                <h5 class="text-dark fs-22 fw-medium my-4">E-Commerce Development</h5>
                                <p class="text-muted pb-4">Developing secure and scalable e-commerce platforms that boost online sales and customer satisfaction.</p>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card rounded shadow border-0">
                        <div class="card-body p-4 m-2">
                            <div class="bg-soft-alt-warning d-flex justify-content-center align-items-center thumb-xl rounded">
                                <i data-feather="code" class="align-self-center svg-warning icon-md"></i>  
                            </div>
                            <h5 class="text-dark fs-22 fw-medium my-4">App Development</h5>
                            <p class="text-muted pb-4">We build scalable and robust mobile and web applications tailored to your business.</p>
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card rounded shadow border-0">
                        <div class="card-body p-4 m-2">
                            <div class="bg-soft-alt-pink d-flex justify-content-center align-items-center thumb-xl rounded">
                                <i data-feather="activity" class="align-self-center svg-pink icon-md"></i>  
                            </div>
                            <h5 class="text-dark fs-22 fw-medium my-4">QA Testing & Automation</h5>
                            <p class="text-muted pb-4">Automated testing to ensure your applications are bug-free and high-performing.</p>
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card rounded shadow border-0">
                        <div class="card-body p-4 m-2">
                            <div class="bg-soft-alt-dark d-flex justify-content-center align-items-center thumb-xl rounded">
                                <i data-feather="layout" class="align-self-center svg-dark icon-md"></i>  
                            </div>
                            <h5 class="text-dark fs-22 fw-medium my-4">Web Design</h5>
                            <p class="text-muted pb-4">Creative and responsive web designs that engage users and boost conversions.</p>
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card rounded shadow border-0">
                        <div class="card-body p-4 m-2">
                            <div class="bg-soft-alt-dark d-flex justify-content-center align-items-center thumb-xl rounded">
                                <i data-feather="database" class="align-self-center svg-dark icon-md"></i>  
                            </div>
                            <h5 class="text-dark fs-22 fw-medium my-4">Database Design</h5>
                            <p class="text-muted pb-4">Efficient and secure database structures optimized for your applications.</p>
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card rounded shadow border-0">
                        <div class="card-body p-4 m-2">
                            <div class="bg-soft-alt-dark d-flex justify-content-center align-items-center thumb-xl rounded">
                                <i data-feather="cpu" class="align-self-center svg-dark icon-md"></i>  
                            </div>
                            <h5 class="text-dark fs-22 fw-medium my-4">ERP Development</h5>
                            <p class="text-muted pb-4">Custom ERP solutions to streamline business processes and enhance productivity.</p>
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card rounded shadow border-0">
                        <div class="card-body p-4 m-2">
                            <div class="bg-soft-alt-dark d-flex justify-content-center align-items-center thumb-xl rounded">
                                <i data-feather="book-open" class="align-self-center svg-dark icon-md"></i>  
                            </div>
                            <h5 class="text-dark fs-22 fw-medium my-4">LMS Development</h5>
                            <p class="text-muted pb-4">Learning Management Systems designed to improve training and knowledge management.</p>
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end services -->

        <div class="position-relative">
            <div class="shape overflow-hidden bg-footer">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        
    </body>
</html>
{% endblock %}